extends ../layouts/index.pug

block contenidoMain
    div(class="py-2")
        h1(class="text-4xl mb-6 font-extrabold text-center") Bienes
            span.font-normal Raices
        h2(class= "text-center font-extrabold text-2xl")= page

        if errors 
            div(class="max-w-md mx-auto my-4")
                each error in errors
                    p.bg-red-600.text-white.font-bold.uppercase.text-xs.text-center.p-2.mb-1= error.msg

        div.mt-4.mx-auto.max-w-md
            div.bg-white.py-6.px-4.shadow
                form.space-y-2(method="POST" action="/auth/signup" noValidate)
                    div 
                        label(for="name").block.text-sm.text-gray-500.mb-3.font-bold Ingresa tu nombre 
                        input(type="text" id="name" name="name" placeholder="Ingrese su nombre" value=user ? user.name : '').w-full.px-3.py-1.border.border-gray-300.rounded-md.placeholder-gray-400.text-sm
                    div 
                        label(for="email").block.text-sm.text-gray-500.mb-3.font-bold Email de registro
                        input(type="email" id="email" name="email" placeholder="Ingrese su email" value=user ? user.email : '').w-full.px-3.py-1.border.border-gray-300.rounded-md.placeholder-gray-400.text-sm
                    div 
                        label(for="password").block.text-sm.text-gray-500.mb-3.font-bold Cree su contraseña
                        input(type="password" id="password" name="password" placeholder="Ingrese su contraseña").w-full.px-3.py-1.border.border-gray-300.rounded-md.placeholder-gray-400.text-sm
                    div 
                        label(for="repetir_password").block.text-sm.text-gray-500.mb-3.font-bold Repita su contraseña
                        input(type="password" id="repetir_password" name="repetir_password" placeholder="Ingrese su contraseña").w-full.px-3.py-1.border.border-gray-300.rounded-md.placeholder-gray-400.text-sm
                    .flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes una cuenta? Inicia sesión
                        a.text-gray-500.text-xs(href="/auth/forgot-password") Olvide mi contraseña
                    input(type="submit" value="Crear Cuenta" class="w-full bg-blue-500 text-white font-semibold uppercase text-sm py-2 rounded hover:bg-blue-400 hover:text-gray-600 cursor-pointer")