extends ../layouts/admin.pug

block styles 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrfToken" content=csrfToken)

block contenidoMain
    div(class="py-2")
        h1(class="text-4xl mb-6 font-extrabold text-center") Bienes
            span.font-normal Raices
        h2(class= "text-center font-extrabold text-2xl")= page

        div(class="bg-white shadow py-8 px-4 rounded mx-auto w-full my-8 md:px-10")    
            
            form(id="image" class="dropzone border-dashed border-2 w-full min-h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/properties/add-image/${propiedad.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)
                    
            input(id="publicarImagen" type="submit" class="mt-5 w-full py-2 bg-indigo-500 hover:bg-indigo-700 text-white text-sm uppercase font-semibold cursor-pointer rounded" value="Publicar propiedad")
                        
block scripts
    script(src="/js/addImage.js")