header.bg-indigo-600.p-4
            .container.mx-auto.flex.justify-between.items-center
                h1.text-2xl.text-white.font-bold.text-center Bienes
                    span.font-normal Raices
                
                nav(class="my-5 text-sm md:flex md:gap-3 font-bold text-white items-center")
                    a(href="") Mis propiedades
                    a(href="") Mi perfil
                    a(href="" class="bg-indigo-700 py-2 px-6 rounded hover:bg-indigo-900") Cerrar sesión