header.bg-indigo-600.p-4
            .container.mx-auto.flex.justify-between.items-center
                a(href="/")
                    h1.text-2xl.text-white.font-bold.text-center Bienes
                        span.font-normal Raices
                
                nav(class="my-5 text-sm md:flex gap-3 font-bold text-white items-center")
                    a(href="/auth/signup") Crear cuenta
                    a(href="/auth/login" class="bg-indigo-700 py-2 px-6 rounded hover:bg-indigo-900") Iniciar sesión
                    
div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center")
            a(href="/category/1" class="text-xs font-bold uppercase text-white") Casas
            a(href="/category/2" class="text-xs font-bold uppercase text-white") Departamentos
            a(href="/category/3" class="text-xs font-bold uppercase text-white") Terrenos
            a(href="/category/4" class="text-xs font-bold uppercase text-white") Cabañas
        form(action="/searcher" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="termino" class="text-xs uppercase font-bold text-white") Buscador 
            input(name="termino" type="text" id="termino" placeholder="Buscar propiedad" class="p-2 rounded-lg shadow text-xs")

            input(type="submit" class="bg-indigo-800 hover:bg-indigo-400 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-xs" value="Buscar")